.navbar {
  margin-bottom: 0;
  background: #000000;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Merriweather', sans-serif;
}

h1,
h2 {
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #ffffff;
}

.jumbotron {
  background: #0048cd;
  color: white;
  text-align: center;
}

.jumbotron p {
  color: white;
  font-size: 26px;
}

.btn-primary {
  color: #fff;
  text-color: #000000;
  border-color: white;
  margin-bottom: 5px;
}

img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}

div.caption: {
  float: left;
  clear: both;
}
